.register-error {
    color: red;
    font-weight: bold;
    display:block;
}

.first-option {
    display:none;
    height:0;
    visibility:hidden;
    overflow:hidden;
}

.product-image-placeholder {
    width:150px;
    height:150px;
    border:solid 1px;
}

.brand-image-placeholder {
    width:150px;
    height:150px;
    border:solid 1px;
}

