/* here you can put your own css to customize and override the theme */
.validation-error {
    color: red;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.first-option {
    display:none;
    height:0;
    visibility:hidden;
    overflow:hidden;
}

.brand-branch {
    display:block;
    margin-top:10px;
}

.remove-branch-button {
    margin-left: 10px;
}
